<h1> Listing events </h1>
<% @events.each do |event|%>
  <h4> <%=event.name%> </h4>
  <small> <%= event.venue%> | <%= link_to 'More Info', event%></small>
  <hr>
<%end%>
<!-- dont forget strftime("%d-%B-%Y")-->
